@import url('https://fonts.googleapis.com/css?family=Italianno');

$color2: #EDE3CC;
$color1: #341D0F;

$font: 'Italianno', Verdana, sans-serif;
$fontLarge: 2.5rem;
$fontMedium: 1.5rem;
$fontSmall: 1.2rem;

html {
  font-size: 14px;
}

@media screen and (min-height: 600px) {
  html {
    font-size: 20px;
  }
}
